<div class="jumbotron mt4">
	<h1>Notes App Notejs and Mongodb</h1>
	<p class"lead">Lorem ipsum dolor sit amet</p>
	<p class="lead">Notas do Dia-a-dia</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet</p>
	<a href="http://google.com.br" target="blank" class="btn btn-primary">Google</a>
</div>